/* In my css styling file, I will use the following "headers" to organize my css statments*/
/* positioning */
/* box-model */
/* text */
/* visual */
body {
  /* positioning */

  /* box-model */
  padding: 10px;

  /* text */
  color: #f7f7f7;

  /* visual */
  }

/* style the jumbotron adding the nasa.jpg image the images folder */
.jumbotron {
    /* positioning */

    /* box-model */

    /* text */
    text-align: center;

    /* visual */
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;

  }

  h3 {
    /* positioning */

    /* box-model */
    padding: 10px;

    /* text */
    text-align: left;
    color: lightgrey

    /* visual */
  }

  p {
    /* positioning */
    margin: 10px, 0px;
    /* box-model */
    padding: 10px, 50px, 10px, 5px;
    /* text */
    font-size: large;
    font-weight: normal;
    /* visual */
  }

  .date-filter {
    /* box-model */
    padding: 10px;
  }

  .table {
    /* box-model */
    padding: 20px;
  }

  th {
    /* text */
    text-align: center;
  }
